@import 'styles/vars.scss';

.content {
  max-width: 891px;
  min-width: 891px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 314px);

  &__title {
    font-size: 38px;
    margin-bottom: 50px;
  }
}
