<script context="module">
export async function preload({ params, path, query }) {
  const { room } = params;
  return { room, url: path, query};
}
</script>

<script>
  import { afterUpdate } from 'svelte';
  import * as api from 'api.js';
  import {
    pathData,
    roomsData,
    childrenCatsData,
    activeCategoryData,
    activeRoomData,
    filtersData,
    productsData,
    isLowestData,
    filterRangesData,
    filterOptsData,
    queryData,
    roomMenuData,
    singleCatData,
    productData
  } from '../../stores/store.js';
  import dataHelpers from '../../helpers/dataHelpers';
  import requestHelpers from '../../helpers/requestHelpers';
  import Catalog from '../../components/Catalog/index.svelte';

  export let room;
  export let url;
  export let query;

  afterUpdate(async () => {
    activeCategoryData.set(null);
    singleCatData.set(null); // очистить синглкат мы точно не в подкаталоге
    productData.set(null); // очистить продукт мы точно не в продукте
    isLowestData.set(false);
    pathData.set({});
    const newRoom = $roomsData.filter(r => r.key === room)[0];
    const sameRoom = $activeRoomData && newRoom && $activeRoomData === newRoom;
    if (!sameRoom) {
      childrenCatsData.set(null);
      roomMenuData.set(null);
      let roomMenu = await api.getRoomMenu(room);
      roomMenu = dataHelpers.arrayToTree(roomMenu.taxons,`rooms/${room}`);
      childrenCatsData.set(roomMenu);
      activeRoomData.set(newRoom);
      roomMenuData.set(roomMenu);
    }
  });

</script>

<svelte:head>
	<title>{room}</title>
</svelte:head>
<Catalog />
