<script>
  import SideFilters from './Sidefilters/index.svelte';
  import SideMenu from './Sidemenu/index.svelte';
  import { isLowestData } from '../../../stores/store';
</script>

<style src="./style/index.scss">
</style>

<div class="sidebar">
  {#if $isLowestData === 'error'}
     <div>ERROR</div>
  {:else}
    {#if $isLowestData}
      <SideFilters />
    {:else}
      <SideMenu />
    {/if}
  {/if}
</div>
