@import 'styles/vars.scss';

.products {
  width: 100%;
  display: inline-block;
  vertical-align: top;

  .product-cards {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
}
