<script context="module">
  export async function preload({ params, path, query }) {
    const { cat, subcat, subsubcat } = params;
    return { cat, subcat, subsubcat, url: path, query };
  }
</script>

<script>
	import { afterUpdate } from 'svelte';
  import {
    categoriesData,
    materialsData,
    activeCategoryData,
    activeRoomData,
    roomMenuData,
    queryData,
    sorterData,
    filterOptsData,
    filterRangesData,
    singleCatData
  } from '../../../../stores/store.js';
  import requestHelpers from '../../../../helpers/requestHelpers';
  import Catalog from '../../../../components/Catalog/index.svelte';

  export let cat;
  export let subcat;
  export let subsubcat;
  export let query;
  export let url;

  afterUpdate(async () => {
    activeRoomData.set(null);
    roomMenuData.set(null);
    singleCatData.set('3014');
    if (window.location.search === '') {
      query = {};
    }
    requestHelpers.updateCatalog(
      { cat, subcat, subsubcat },
      query,
      $activeCategoryData,
      $queryData,
      $materialsData,
      $sorterData,
      $filterOptsData,
      $filterRangesData
    );
  });

</script>

<svelte:head>
	<title>{subsubcat}</title>
</svelte:head>
<Catalog />
