<script context="module">
export async function preload({ params, path, query }) {
  const { cat } = params;
  return { cat, url: path, query };
}
</script>

<script>
  import { afterUpdate } from 'svelte';
  import {
    pathData,
    materialsData,
    childrenCatsData,
    activeCategoryData,
    filtersData,
    productsData,
    isLowestData,
    queryData,
    activeRoomData,
    roomMenuData,
    singleCatData
  } from '../../stores/store.js';
  import dataHelpers from '../../helpers/dataHelpers';
  import requestHelpers from '../../helpers/requestHelpers';
  import Catalog from '../../components/Catalog/index.svelte';

  export let cat;
  export let url;
  export let query;
  
  afterUpdate(async () => {
    const {childrenCats, activeCategory} = dataHelpers.childrenCats($materialsData, {cat});
    
    activeRoomData.set(null);
    roomMenuData.set(null);
    queryData.set({});
    isLowestData.set(false);
    singleCatData.set('3014');
    
    if ($activeCategoryData !== activeCategory) {
      requestHelpers.resetCategoryInner();
      pathData.set({cat});
      childrenCatsData.set(childrenCats);
      activeCategoryData.set(activeCategory);
    }
  });
  
</script>

<svelte:head>
	<title>{cat}</title>
</svelte:head>
<Catalog />