<script context="module">
  import dataHelpers from '../helpers/dataHelpers';
  import * as api from 'api.js';

  export async function preload(page, session) {
    // Запрос всех категорий и всех комнат
    const menus = await api.getMenus();
    const [categories, materials, dict] = dataHelpers.prepareMenu(menus[0]);
    const rooms = menus[1];

    // Определяем активную категорию
    // и наличие дочерних категорий (и необходимость делать запрос товаров)
    const {path, query} = page;
    let cat;
    let subcat;
    let subsubcat;
    let room;
    let childrenCats = null;
    let activeCategory = null;
    let activeRoom = null;
    let url;
    let filters = null;
    let products = null;
    let requestFiltersAndProducts = false;
    let lowestContent = null;
    let roomMenu = null;
    let singleCat = null; // Если определен, значит мы в подкаталоге основного каталога
    let product = null;

    if (path.match(/^\/rooms\//)) { // Если мы в комнатах
      [room, cat, subcat, subsubcat] = path.split('/').slice(2);
      activeRoom = rooms.filter(r => r.key === room)[0];
      //запрашиваем список категорий для комнаты
      roomMenu = await api.getRoomMenu(room);
      // приводим в вид дерева
      roomMenu = dataHelpers.arrayToTree(roomMenu.taxons,`rooms/${room}`);
      const temp = dataHelpers.childrenCats(roomMenu, {cat, subcat, subsubcat});
      childrenCats = temp.childrenCats;
      activeCategory = temp.activeCategory; // to fix: wrong activeCat when room defined but act cat is not selected

      requestFiltersAndProducts = !childrenCats;
    }

    if (path.match(/^\/catalog\//)) { // Если мы в каталоге
      [cat, subcat, subsubcat] = path.split('/').slice(2);
      const temp = dataHelpers.childrenCats(categories, {cat, subcat, subsubcat});
      childrenCats = temp.childrenCats;
      activeCategory = temp.activeCategory;
      requestFiltersAndProducts = !childrenCats;
    }

    if (path.match(/^\/materials\//)) { // Если мы в материалах
      singleCat = '3014';
      [cat, subcat, subsubcat] = path.split('/').slice(2);
      const temp = dataHelpers.childrenCats(materials, {cat, subcat, subsubcat});
      childrenCats = temp.childrenCats;
      activeCategory = temp.activeCategory;
      requestFiltersAndProducts = !childrenCats;
    }

    if (path.match(/^\/product\//)) { // Если мы в товаре
      product = await api.getProduct(path.split('/').slice(-1)[0]);
      [cat, subcat, subsubcat] = product.classifications[0].taxon.permalink.split('/');
      const temp = dataHelpers.childrenCats(categories, {cat, subcat, subsubcat});
      childrenCats = temp.childrenCats;
      activeCategory = temp.activeCategory;
      requestFiltersAndProducts = false;
    }

    // Если это страница каталога или комнаты
    // и дочерних категорий нет, запрашиваем фильтры и продукты

    if (requestFiltersAndProducts) {
      const paramsString = dataHelpers.formRequest({
        activeCategory,
        activeRoom,
        query,
        sorter: 'asc'
      });
      lowestContent = await api.getProdsAndFilts(paramsString);
      [products, filters] = lowestContent;
      filters = (filters && filters.main && filters.additional) ? filters.main.concat(filters.additional) : null;
    }

    // TODO:
    // если фильтры и продукты запрашивать надо,
    // а активной категории нет - (случай несуществующего слага)
    if (requestFiltersAndProducts && !activeCategory) {
      // редирект на 404 или нижнюю существующую категорию
      requestFiltersAndProducts = 'error';
    }

    return {
      categories,
      materials,
      activeCategory,
      activeRoom,
      rooms,
      room,
      cat,
      subcat,
      subsubcat,
      childrenCats,
      filters,
      products,
      requestFiltersAndProducts,
      query,
      roomMenu,
      dict,
      singleCat,
      product
    };
  }
</script>

<script>
  import Header from '../components/Header/index.svelte';
  import Breadcrumbs from '../components/Breadcrumbs/index.svelte';
  import Footer from '../components/Footer/index.svelte';
  import {
    pathData,
    categoriesData,
    roomsData,
    materialsData,
    filtersData,
    activeCategoryData,
    activeRoomData,
    productsData,
    isLowestData,
    childrenCatsData,
    queryData,
    roomMenuData,
    dictData,
    singleCatData,
    productData
  } from '../stores/store.js';

  export let categories;
  export let materials;
  export let activeCategory;
  export let activeRoom;
  export let rooms;
  export let room;
  export let cat;
  export let subcat;
  export let subsubcat;
  export let childrenCats;
  export let filters;
  export let products;
  export let requestFiltersAndProducts;
  export let query;
  export let roomMenu;
  export let dict;
  export let singleCat;
  export let product;

  // кладем в сторы
  dictData.set(dict);
  isLowestData.set(requestFiltersAndProducts);
  categoriesData.set(categories);
  materialsData.set(materials);
  roomsData.set(rooms);
  activeCategoryData.set(activeCategory);
  activeRoomData.set(activeRoom);
  productsData.set(products);
  filtersData.set(filters);
  childrenCatsData.set(childrenCats);
  pathData.set({cat, subcat, subsubcat});
  queryData.set(query);
  roomMenuData.set(roomMenu);
  singleCatData.set(singleCat);
  productData.set(product);
</script>

<style global src="../styles/global.scss">
</style>

<div class="app">
  <Header />
  <div class="middle">
    <Breadcrumbs />
	  <slot />
  </div>
  <Footer />
</div>
