<script context="module">
  export async function preload(page, session) {
  }
</script>

<script>
  import {
    pathData,
    categoriesData,
    childrenCatsData,
    activeCategoryData,
    activeRoomData,
    filtersData,
    filterOptsData,
    filterRangesData,
    productsData,
    isLowestData,
    queryData,
    sorterData
  } from '../stores/store.js';
  
  productsData.set(null);
  filtersData.set(null);
  filterOptsData.set(null);
  filterRangesData.set(null);
  pathData.set({});
  childrenCatsData.set(null);
  activeCategoryData.set(null);
  activeRoomData.set(null);
  isLowestData.set(false);

</script>

<svelte:head>
  <title>Rerooms-store</title>
</svelte:head>

<main class="page">
  <div class="title">Hello! This is Rerooms Store main page!</div>
</main>
