<script context="module">
export async function preload({ params, path, query }) {
  const { room, cat } = params;
  return { room, cat, url: path, query};
}
</script>

<script>
  import { afterUpdate } from 'svelte';
  import * as api from 'api.js';
  import {
    pathData,
    roomsData,
    childrenCatsData,
    activeCategoryData,
    activeRoomData,
    filtersData,
    filterRangesData,
    filterOptsData,
    productsData,
    isLowestData,
    queryData,
    roomMenuData,
    singleCatData,
    sorterData,
    productData
  } from '../../../stores/store.js';
  import dataHelpers from '../../../helpers/dataHelpers';
  import requestHelpers from '../../../helpers/requestHelpers';
  import Catalog from '../../../components/Catalog/index.svelte';

  export let room;
  export let cat;
  export let url;
  export let query;

  afterUpdate(async () => {
    singleCatData.set(null); // очистить синглкат мы точно не в подкаталоге
    productData.set(null); // очистить продукт мы точно не в продукте
    pathData.set({ cat });
    isLowestData.set(false);
    const sameRoom = $activeRoomData && $activeRoomData.key === room;
    if (sameRoom) {
      const sameCat = $activeCategoryData && $activeCategoryData.permalink === `rooms/${room}/${cat}`;
      if (!sameCat) {
        requestHelpers.updateCatalog(
          { cat },
          query,
          $activeCategoryData,
          $queryData,
          $roomMenuData,
          $sorterData,
          $filterOptsData,
          $filterRangesData,
          $activeRoomData
        );
      }
    } // else  !sameRoom такого не происходит
  });

</script>

<svelte:head>
	<title>{cat}</title>
</svelte:head>
<Catalog />
