@import 'styles/vars.scss';

.subcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

.subcard {
  width: 278px;
  height: 257px;
  border-radius: 4px;
  border: solid 1px #f1f1f1;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 15px;

  &__title {
    font: 16px 'MUSB';
    line-height: 1.38;
    color: $dark-grey;
    margin: 17px 0 0 0;
    height: 44px;
    text-align: center;
  }

  &__count {
    color: $text-light-grey;
  }

  img {
    width: 277px;
    height: 156px;
    display: block;
    background-color: $no-data-placeholder-grey;
    position: relative;
  }

  img:before {
    content: " ";
    display: block;
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 31px);
    height: 73px;
    width: 62px;
    background-image: url('/img/noImg.svg');
  }

}
