<script>
  export let text;
  export let action;
  export let to;
  export let type;
  export let name;
</script>

<style src="./style/index.scss">

</style>

<span
  data-name={name || null}
  class={`button ${type === 'block' ? 'button_block' : 'button_inline'}`}
  on:click={e => action(e)}>
  {#if to}
    <a href={to}>{text}</a>
  {:else}{text}{/if}
</span>
