@import 'styles/vars.scss';

.roommenu {
  display: inline-block;
  vertical-align: top;
  outline: none;

  a {
    text-decoration: none;
    color: #383c45;
  }

  &__thumb {
    position: relative;
    background-color: #ffffff;
    padding: 17px 12px;
    font: 16px MUSM;
    color: #383c45;

    &.active {
      background-color: #fcfcfc;
    }

    &__icon {
      background-image: url('/icons/burger.svg');
      height: 10px;
      width: 16px;
      display: inline-block;
      margin-right: 6px;
    }
  }

  &__drop {
    position: absolute;
    width: 1198px;
    height: 308px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px #f1f1f1;
    background-color: #fcfcfc;
    padding-top: 57px;
    left: 0;

    &.closed {
      left: 200%;
    }
  }

  .room {
    display: inline-block;
    width: 171px;
    height: 120px;
    background-color: rgba(255,255,255,0);
    text-align: center;
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255,255,255,1);

      img:nth-child(2n) {
        opacity: 1;
      }
    }

    &__name {
      font: 16px MUSR;
    }

    &__icon {
      position: relative;
      width: 72px;
      display: inline-block;
      height: 54px;
      margin-top: 17px;

      img:nth-child(2n) {
        position: absolute;
        top: 0px;
        left: 0px;
        opacity: 0;
        transition: opacity .2s;
      }
    }
  }
}
