@import 'styles/vars.scss';

.range {
  margin-bottom: 49px;

  &__title {
    font: 14px MUSB;
    letter-spacing: .7px;
    color: #383c45;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  &__track {
    display: block;
    height: 2px;
    border-radius: 1px;
    background-color: #d8d8d8;
    margin: 21px 3px;
  }

  &__interval {
    display: block;
    position: relative;
    height: 2px;
    border-radius: 1px;
    background-color: $green;
    transition: .1s linear;
  }

  &__handle {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: solid 1px $border-grey;
    background-color: #fff;
    top: -9px;
    cursor: pointer;

    &:first-child {
      left: -9px;
    }

    &:last-child {
      right: -9px;
    }
  }

  div {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }
}
