<script>
  import { afterUpdate } from 'svelte';
  import dataHelpers from '../../../../helpers/dataHelpers';
  import Spinner from '../../../../components/Spinner/index.svelte';
  import { childrenCatsData, pathData, activeRoomData, singleCatData } from '../../../../stores/store';

  const getPref = dataHelpers.getPref;
</script>

<style src="./style/index.scss">
</style>

<div class="sidemenu">
  {#if $activeRoomData}
    <Spinner ready={!!$childrenCatsData}>
      <div class="cats">
       {#each $childrenCatsData as cat}
         <div class="category">
           <div>
             <a href={`${getPref($activeRoomData, $singleCatData)}${cat.permalink}`}>
               {cat.name}
             </a>
           </div>
           {#if cat.taxons && cat.taxons.length}
             <div class="subcats">
             {#each cat.taxons as subcat}
               <div>
                 <a href={`${getPref($activeRoomData, $singleCatData)}${subcat.permalink}`}>
                   {subcat.name}
                 </a>
               </div>
               {#if false && subcat.taxons && subcat.taxons.length>0}
                 <div class="subsubcats">
                   {#each subcat.taxons as subsubcat}
                     <div>
                       <a href={`${getPref($activeRoomData, $singleCatData)}${subsubcat.permalink}`}>
                         ------>------>{subsubcat.name}
                       </a>
                     </div>
                   {/each}
                 </div>
               {/if}
             {/each}
             </div>
           {/if}
         </div>
       {/each}
      </div>
    </Spinner>
  {:else}
   <div class="cats">
    {#if $childrenCatsData}
      {#each $childrenCatsData as cat}
        <div class="category">
          <div>
            <a href={`${getPref($activeRoomData, $singleCatData)}${cat.permalink}`}>
              {cat.name}
            </a>
          </div>
          <div class="subcats">
            {#each cat.taxons as subcat}
              <div>
                <a href={`${getPref($activeRoomData, $singleCatData)}${subcat.permalink}`}>
                  {subcat.name}
                </a>
              </div>
              {#if false && subcat.taxons && subcat.taxons.length>0}
                <div class="subsubcats">
                  {#each subcat.taxons as subsubcat}
                    <div>
                      <a href={`${getPref($activeRoomData, $singleCatData)}${subsubcat.permalink}`}>
                        {subsubcat.name}
                      </a>
                    </div>
                  {/each}
                </div>
              {/if}
            {/each}
          </div>
        </div>
      {/each}
    {/if}
   </div>
  {/if}
</div>
