@import 'styles/vars.scss';

.checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: solid 1px $border-grey;
  position: relative;
  top: 3px;
  cursor: pointer;

  &.checked {
    border: solid 1px $green;
    background-color: $green;
    background-image: url('/icons/tick.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
