@import 'styles/vars.scss';

.pagination {
  width: 100%;
  text-align: center;

  &>.page {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: $text-light-grey;
    text-decoration: none;

    &.active {
      border-radius: 4px;
      background-color: #7ede44;
      color: #383c45;
    }
  }

  .arrow {
    color: #929395;
    text-decoration: none
  }

  .points {
    color: #929395;
    display: inline-block;
  }
}
