<script>
  import {
    activeCategoryData,
    activeRoomData,
    productsData,
    queryData,
    sorterData,
    filterOptsData,
    filterRangesData } from '../../../../stores/store';
  import dataHelpers from '../../../../helpers/dataHelpers';
  import * as api from 'api.js';

  const toggleSorter = async () => {
    let opt = $sorterData === null ? "asc" :
      ($sorterData === "asc" ? "desc" : "asc");
    const paramsString = dataHelpers.formRequest({
      activeCategory: $activeCategoryData,
      activeRoom: $activeRoomData,
      query: $queryData,
      sorter: opt,
      filterOpts: $filterOptsData,
      filterRanges: $filterRangesData
    });
    productsData.set(null);
    productsData.set(await api.getProducts(paramsString));
    sorterData.set(opt);
  }
</script>

<style src="./style/index.scss">
</style>

<div class="sorter" on:click={toggleSorter}>
  sorted: {$sorterData}
</div>
