@import 'styles/vars.scss';

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  background-color: $green;
  font-size: 14px;
  font-family: 'MUSM';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #383c45;

  &_block {
    width: 100%;
  }

  &_inline {
    width: auto;
  }
}
