<script>
  import { categoriesData, materialsData} from '../../../stores/store';
  export let title;
  export let singleCat;
  const materials = singleCat == '3014';
  let pref = materials ? 'materials/' : 'catalog/';

  let opened = false;
</script>

<style src="./style/index.scss">

</style>

<div
  class="catmenu"
  tabindex="0"
  on:blur={e => {
    let target = e.relatedTarget;
    if (target) { target.click() }
    opened = false}}>
  <div
    class={`catmenu__thumb${opened ? ' active' : ''}`}
    on:click={() => opened =! opened}>
    <div class="catmenu__thumb__icon"></div>{title}
  </div>
  <div class={`catmenu__drop${opened ? '' : ' hidden'}`}>
    {#each materials ? $materialsData : $categoriesData as cat}
    <div class="category">
      <div>
        <a href={`${pref}${cat.permalink}`}>
          {cat.name}
        </a>
      </div>
      {#if cat.taxons && cat.taxons.length > 0}
        <div class="subcats">
          {#each cat.taxons as subcat}
            <div class="subcat">
              <a href={`${pref}${subcat.permalink}`}>
                {subcat.name}
              </a>
              {#if subcat.taxons && subcat.taxons.length > 0}
                <div class="subsubcats">
                  {#each subcat.taxons as subsubcat}
                    <div>
                      <a href={`${pref}${subsubcat.permalink}`}>
                        {subsubcat.name}
                      </a>
                    </div>
                  {/each}
                </div>
              {/if}
            </div>
          {/each}
        </div>
      {/if}
    </div>
    {/each}
  </div>
</div>
