<script context="module">
  export async function preload({ params, path, query }) {
    const { id } = params;
    return { id };
  }
</script>

<script>
  import dataHelpers from '../../helpers/dataHelpers';
  import {
    productData,
    cartData,
    childrenCatsData,
    categoriesData,
    isLowestData,
    activeCategoryData,
  } from '../../stores/store.js';
  import { afterUpdate } from 'svelte';
  import * as api from 'api.js';
  import Product from '../../components/Product/index.svelte';
  import Spinner from '../../components/Spinner/index.svelte';
  import Button from '../../components/Button/index.svelte';

  export let id;
  let oldId = $productData ? $productData.id : null;

  afterUpdate(async () => {
    if (oldId != id) {
      $productData = null;
      const product = await api.getProduct(id);
      const [cat, subcat, subsubcat] = product.classifications[0].taxon.permalink.split('/');
      const temp = dataHelpers.childrenCats($categoriesData, { cat, subcat, subsubcat });
      productData.set(product);
      childrenCatsData.set(temp.childrenCats);
      activeCategoryData.set(temp.activeCategory);
      isLowestData.set(false);
    }
    oldId = id;
  });
</script>

<svelte:head>
  <title>{$productData ? $productData.name : ''}</title>
</svelte:head>
<Spinner ready={!!$productData}>
  <Product />
</Spinner>
<a href="/product/707">707</a>
<a href="/product/93975">93975</a>
