<script>
  import dataHelpers from '../../../../helpers/dataHelpers';
  import * as api from 'api.js';
  import Range from './Range/index.svelte';
  import Checklist from './Checklist/index.svelte';
  import Spinner from '../../../../components/Spinner/index.svelte';
  import { filtersData, filterOptsData, filterRangesData, productsData, queryData, activeCategoryData, sorterData, activeRoomData } from '../../../../stores/store';

  const reloadProducts = async(obj) => {
    if ($queryData.page) {
      history.pushState({}, "", window.location.pathname);
    } else {
      const paramsString = dataHelpers.formRequest({
        activeCategory: $activeCategoryData,
        activeRoom: $activeRoomData,
        sorter: $sorterData,
        filterOpts: $filterOptsData,
        filterRanges: $filterRangesData,
        ...obj
      });
      productsData.set(null);
      productsData.set(await api.getProducts(paramsString));
    }
  }

  const setChecklist = async(filter, prop) => {
    const key = filter.search_key;
    const val = prop.value;
    const data = Object.assign($filterOptsData);
    if (data[key]) {
      if (data[key][val]) {
        delete data[key][val];
      } else {
        data[key][val] = true;
      }
    } else {
      data[key] = {};
      data[key][val] = true;
    }
    filterOptsData.set(data);
    reloadProducts({filterOpts: data});
  }

  const setRange = async(filter, interval) => {
    const key = filter.search_key;
    const data = Object.assign($filterRangesData);
    data[`q[${key}_gteq]`] = Math.round(interval[0]);
    data[`q[${key}_lteq]`] = Math.round(interval[1]);
    filterRangesData.set(data);
    reloadProducts({filterRanges: data});
  }

  const resetFilters = async() => {
    filterOptsData.set({});
    filterRangesData.set({});
    reloadProducts({});
  }

</script>

<style src="./style/index.scss">
</style>

<div class="sidefilters">
  <Spinner ready={!!$filtersData}>
    {#each $filtersData as filter}
      {#if filter.type === 'range'}
        <Range filter={filter} width={270} setFilter={setRange}/>
      {:else}
        <Checklist filter={filter} setFilter={setChecklist}/>
      {/if}
    {/each}
    <div class="sidefilters__reset" on:click={resetFilters}>Очистить фильтры</div>
  </Spinner>
</div>
