@import 'styles/vars.scss';

.category {
  margin-bottom: 50px;

  a {
    text-decoration: none;
  }

  &>div>a {
    font: 16px MUSM;
    color: #383c45;
    margin: 0 0 20px;
    display: block;
  }

  .subcats>div>a {
    font: 14px MUSM;
    color: #929395;
    margin: 8px 0;
    display: block;
  }
}
