@import 'styles/vars.scss';

.product {
  /* temp style */
  width: 1204px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;


  &__images {
    order: 0;
    flex: 508px 0 0;
    max-width: 508px;
    overflow: hidden;
    align-self: auto;
  }

  &__info {
    order: 0;
    flex: 378px 0 0;
    max-width: 378px;
    align-self: auto;
  }

  &__section {
    &:before {
      color: #898989;
      letter-spacing: 0.64px;
      font-size: 11px;
      font-family: 'MUSB';
      height: 40px;
      box-sizing: border-box;
      padding: 0 16px;
      line-height: 40px;
      display: block;
      width: 100%;
      border-radius: 4px;
      background-color: #f8f8f8;
      content: attr(data-name);
    }
  }

  &__action {
    order: 0;
    flex: 253px 0 0;
    max-width: 253px;
    align-self: auto;
  }
}
