<script>
  import { productsData, activeCategoryData, activeRoomData} from '../../../../stores/store';
  const { current_page, pages } = $productsData;
  const page = current_page - 1;
  const pref = $activeRoomData ? $activeCategoryData.permalink : `/catalog/${$activeCategoryData.permalink}`;
  let showPrev;
  let showNext;
  let showPointsLeft;
  let showPointsRight;
  let showLast;
  let visiblePages = [];
  
  // if (current_page + 1 > pages && pages !== 0) { // page or current page
  //   return <Redirect to={link} />;
  // }
  
  if (pages > 1) {
      showPrev = page > 0;
      showNext = pages - page > 1;
      showPointsLeft = 0 < (page - 3);
      showPointsRight = pages > (page + 3);
      showLast = pages > 1;
      
      if (pages <= 5) {
        showPrev = false;
        // showLast = false;
        showPointsRight = false;
        showPointsLeft = false;
        if (pages !== 0) {
          visiblePages = Array(pages - 1)
            .join('/')
            .split('')
            .map((item, i) => i + 1);
        }
      } else {
        if (page < 4) {
          visiblePages = [1, 2, 3, 4];
          showPointsLeft = false;
        } else if (pages - page < 4) {
          visiblePages = [
            pages - 5,
            pages - 4,
            pages - 3,
            pages - 2
          ];
          showPointsRight = false;
        } else {
          visiblePages = [page - 1, page, page + 1];
        }
      }
      if (pages === 6) {showPointsRight = false;}
    }
</script>

<style src="./style/index.scss">
</style>

{#if pages > 1}
  <div class="pagination">
    {#if showPrev}
    <a href={page === 1 ? `${pref}` : `?page=${page}`} class="arrow">&lt;&lt;</a>
    {/if}
  
    <a
    href={`${pref}`}
    class={`page${page === 0 ? ' active' : ''}`}
    >1</a>
  
    {#if showPointsLeft}
    <div class="points">...</div>
    {/if}
  
    {#each visiblePages as i}
    <a
      href={`${pref}?page=${i + 1}`}
      class={`page${i === page ? ' active' : ''}`}
    >{i + 1}</a>
    {/each}
  
    {#if showPointsRight}
      <div class="points">...</div>
    {/if}
  
    {#if showLast}
    <a
      href={`${pref}?page=${pages}`}
      class={`page${page === (pages - 1) ?
        ' active' : ''}`}
    >{pages}</a>
    {/if}
  
    {#if showPrev}
    <a
      href={`${pref}?page=${page + 2}`}
      class="arrow"
    >&gt;&gt;</a>
    {/if}
  </div>
{/if}
