@import 'styles/vars.scss';

input {
  outline: none;
  border-radius: 4px;
  border: 1px solid #cecece;
  height: 14px;
  display: inline-block;
  padding: 12px;
  color: #3c4048;
  font: 14px MUSR;
}
