<script>
  import { roomsData } from '../../../stores/store';

  let opened = false;
</script>

<style src="./style/index.scss">

</style>

<div
  class="roommenu"
  tabindex="0"
  on:blur={(e) => {
    if (e.relatedTarget) {
      e.relatedTarget.click();
    }
    opened = false}}>
  <div
    class={`roommenu__thumb${opened ? ' active' : ''}`}
    on:click={() => opened =! opened}>
    <div class="roommenu__thumb__icon"></div>Комнаты
  </div>
  <div class={`roommenu__drop${opened ? '' : ' closed'}`}>
    {#each $roomsData as room}
      <div class="room">
        <a href={`rooms/${room.key}`}>
          <div class="room__icon">
            <img src={`/img/rooms/gray/${room.key}.svg`} alt={room.key}/>
            <img src={`/img/rooms/green/${room.key}.svg`} alt={room.key}/>
          </div>
          <div class="room__name">{room.name}</div>
        </a>
      </div>
    {/each}
  </div>
</div>
