<script>
  import Product from '../Product/index.svelte';
  import Pagination from '../Pagination/index.svelte';
  import Sorter from '../Sorter/index.svelte';
  import Spinner from '../../../../components/Spinner/index.svelte';
  import {productsData} from '../../../../stores/store.js';
</script>

<style src="./style/index.scss">
</style>

<div class="products">
  <Sorter />
  <Spinner ready={!!$productsData}>
    <div class="product-cards">
      {#each $productsData.products as product}
        <Product product={product} />
      {/each}
    </div>
    <Pagination />
  </Spinner>
</div>
