<script>
  import { cartData, productData } from '../../stores/store';
  import cartHelpers from '../../helpers/cartHelpers';
  import Button from '../Button/index.svelte';
  import Slider from '../Slider/index.svelte';

  const productImages = product => {
    const { images, source_images } = product.master;
    const fromImages = images && images.length > 0;

    let targetImages = fromImages ? images : source_images;

    return fromImages
      ? {
          catalog: targetImages.map(img => img.product_url),
          mini: targetImages.map(img => img.mini),
          previews: targetImages.map(img => img.small_url),
          large: targetImages.map(img => img.large_url),
        }
      : {
          only: targetImages,
        };
  };
  const photos = productImages($productData);
  let img = photos.catalog || photos.only;
  img = img ? img[0] : null;
</script>

<style src="./style/index.scss">

</style>

<div class="product">
  {#if $productData}
    <div class="product__images">
      <Slider images={photos.large} thumbs={photos.previews} />
    </div>
    <div class="product__info">
      <h1>{$productData.name}</h1>
      <div class="product__section" data-name="ОПИСАНИЕ ТОВАРА">123</div>
      <div class="product__section" data-name="ХАРАКТЕРИСТИКИ">123</div>
    </div>
    <div class="product__action">
      <Button
        text="Добавить в корзину"
        size="large"
        action={() => cartHelpers.addToCart($productData, $cartData)} />
    </div>
  {/if}
</div>
