<script>
  export let value;
  export let onChange;
  export let styles;

  let styleString = styles
    ? Object.entries(styles)
      .reduce((acc, style) => `${style[0]}:${style[1]};${acc}`, '')
    : '';
</script>

<style src="./style/index.scss">
</style>

<input
  style={styleString}
  type="text"
  value={value}
  on:keyup={onChange} />
