<script>
  import { afterUpdate } from 'svelte';
  import { filterRangesData } from '../../../../../stores/store';
  import Textinput from '../../../../../components/Textinput/index.svelte';

  export let filter;
  export let width;
  export let setFilter;

  let timeout;

  const debounce = (func) => {
    if (timeout) {clearInterval(timeout)}
    timeout = setTimeout(func, 700);
  }

  let min=filter.min*1;
  let max=filter.max*1;
  max = min === max ? 1000 : max;
  if (min > max) {
    min = max;
    max = filter.min*1;
  }

  let interval = [min, max];
  let oldData = $filterRangesData;

  afterUpdate(() => {
    const oldNotEmpty = Object.keys(oldData).length > 0;
    const newEmpty = Object.keys($filterRangesData).length === 0;
    oldData = $filterRangesData;
    if (oldNotEmpty && newEmpty) {
      interval = [min, max];
    }
  });

  let pointer = null;
  let startPosition = null;

  const calcLeft = () => {
    const left = (interval[0] - min) * 100 / (max - min);
    if (left < 0) { return 0 }
    if (left > 100) {return 100}
    return left;
  }

  const calcWidth = () => {
    const width = (interval[1] - interval[0]) * 100 / (max - min);
    if (width < 0) { return 0 }
    if (width > 100) {return 100}
    return width;
  }

  const startWatching = (e, p) => {
    startPosition = e.clientX;
    pointer = p;
  }

  const stopWatching = (e) => {
    pointer = null;
    startPosition = null;
  }

  const move = (e) => {
    if (pointer !== null && startPosition !== null) {
      const newPosition = e.clientX;
      const deltha = (max - min) * (newPosition - startPosition) / width;
      startPosition = newPosition;
      let newVal = interval[pointer] + deltha;
      if (pointer === 0) {
        newVal = newVal < min ? min : newVal;
        newVal = newVal > interval[1] ? interval[1] - 1 : newVal;
      } else {
        newVal = newVal > max ? max : newVal;
        newVal = newVal < interval[0] ? interval[0] + 1 : newVal;
      }
      interval[pointer] = newVal;
      debounce(() => setFilter(filter, interval));
    }
  }

  const changeInput = (e, p) => {
    let newVal = e.target.value * 1;
    if (p === 0) {
      newVal = newVal < min ? min : newVal;
      newVal = newVal > interval[1] ? interval[1] - 1 : newVal;
    } else {
      newVal = newVal > max ? max : newVal;
      newVal = newVal < interval[0] ? interval[0] + 1 : newVal;
    }
    interval[p] = newVal;
    debounce(() => setFilter(filter, interval));
  }

</script>

<style src="./style/index.scss">
</style>

<div class="range">
  <div class="range__title">{filter.name}</div>
  <div>
    <Textinput
      value={Math.round(interval[0])}
      onChange={e => changeInput(e, 0)}
      styles={{
        width: '104px',
        margin: '0 12px 0 0'
      }} /><Textinput
      value={Math.round(interval[1])}
      onChange={e => changeInput(e, 1)}
      styles={{ width: '104px' }} />
  </div>
  <div on:mouseleave={stopWatching} on:mouseup={stopWatching} on:mousemove={e => move(e)} style="border: 1px solid #fff;">
    <div class="range__track" style={`width: ${width || 270}px`}>
      <div class="range__interval" style={`width: ${calcWidth(interval)}%; left: ${calcLeft(interval)}%`}>
        <div class="range__handle" on:mousedown={e => startWatching(e, 0)}></div>
        <div class="range__handle" on:mousedown={e => startWatching(e, 1)}></div>
      </div>
    </div>
  </div>
</div>
