<script>
  import { isLowestData, activeCategoryData, activeRoomData } from '../../../stores/store';
  import Products from './Products/index.svelte';
  import SubCards from './Subcards/index.svelte';
  import dataHelpers from '../../../helpers/dataHelpers';
</script>

<style src="./style/index.scss">
</style>

<div class="content">
  {#if $isLowestData === 'error'}
     <div>ERROR</div>
  {:else}
    <div class="content__title">{dataHelpers.formTitle($activeRoomData, $activeCategoryData)}</div>
    {#if $isLowestData}
      <Products />
    {:else}
      <SubCards />
    {/if}
  {/if}
</div>