@import 'styles/vars.scss';

.product {
  width: 273px;
  height: 364px;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 35px 35px 0;
  box-sizing: border-box;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;

  &:hover {
    z-index: 2;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &__link {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    transition: all 240ms ease;
  }

  &__img {
    display: block;
    width: 100%;
    height: 243px;
    margin-bottom: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__name {
    display: block;
    height: 44px;
    margin-bottom: 14px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: #383c45;
    overflow: hidden;
  }

  &__price {
    display: block;
    height: 20px;
    margin-bottom: 32px;
    font-size: 20px;
    font-family: 'MUSM';
    line-height: 1;
    color: #383c45;
  }

  &__action {
    display: block;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
  }

  &__link:hover {
    height: 436px;
    box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.08);
  }
}
