<script>
  import { cartData } from '../../../stores/store';
  import cartHelpers from '../../../helpers/cartHelpers';
  let opened = false;
  if (typeof localStorage !== 'undefined') {cartHelpers.readCart()}
</script>

<style src="./style/index.scss">
</style>

<div class="cartSmall">
  {Object.keys($cartData ? $cartData.list : {}).length}
</div>
