<script>
  import Catmenu from './Catmenu/index.svelte';
  import Roommenu from './Roommenu/index.svelte';
  import Cartsmall from './Cartsmall/index.svelte';
</script>

<style src="./style/index.scss">

</style>

<div class="header">
  <div class="header__top"></div>
  <div class="header__middle">
    <Cartsmall />
  </div>
  <div class="header__bottom">
    <div class="header__bottom__wrapper"><Catmenu title="Товары"/><Roommenu /><Catmenu title="Черновые материалы" singleCat="3014"/></div>
  </div>
</div>
