<script>
  import { cartData } from '../../../../stores/store';
  import cartHelpers from '../../../../helpers/cartHelpers';
  import Button from '../../../../components/Button/index.svelte';

  export let product;

  const productImages = product => {
    const { images, source_images } = product.master;
    const fromImages = images && images.length > 0;

    let targetImages = fromImages ? images : source_images;

    return fromImages
      ? {
          catalog: targetImages.map(img => img.product_url),
          mini: targetImages.map(img => img.mini),
          previews: targetImages.map(img => img.small_url),
          large: targetImages.map(img => img.large_url),
        }
      : {
          only: targetImages,
        };
  };
  const photos = productImages(product);
  let img = photos.catalog || photos.only;
  img = img ? img[0] : null;

  const click = e => {
    if (e.target.getAttribute('data-name') === 'button') {
      e.preventDefault();
    }
  };
</script>

<style src="./style/index.scss">

</style>

<div class="product">
  <a class="product__link" on:click={e => click(e)} href={`/product/${product.id}`}>
    <span class="product__img" style={`background-image:url(${img || 'no-img'})`} />
    <span class="product__name">{product.name}</span>
    <span class="product__price">{`${parseInt(product.price)} руб.`}</span>
    <span class="product__action">
      <Button
        text="В корзину"
        name="button"
        type="block"
        action={() => cartHelpers.addToCart(product, $cartData)} />
    </span>
  </a>
</div>
