@import 'styles/vars.scss';

.breadcrumbs {
  padding: 30px 0 44px;
  color: #929395;

  a {
    color: #929395;
    text-decoration: none;
    font: 12px MUSM;
  }

  .crumb {
    display: inline-block;
    font: 12px MUSM;

    &:after {
      content: ' / ';
    }

    &:last-child:after {
      content: '';
    }
  }
}
