@import 'styles/vars.scss';

.header {
  z-index: 2;

  &__top {
    display: block;
    width: 100%;
    height: 42px;
    background-color: $dark-grey;
  }

  &__middle {
    display: block;
    width: 100%;
    height: 104px;
    background-color: #fff;
  }

  &__bottom {
    position: relative;
    height: 52px;
    border-top: 1px solid $border-light-grey;

    &__wrapper {
      max-width: 1280px;
      margin: 0 auto;
      position: relative;
    }
  }
}
