@import 'styles/vars.scss';

.checklist {
  cursor: pointer;
  margin-bottom: 59px;
  margin-top: 7px;

  &__label {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 4px;
    width: calc(100% - 38px);
    font: 14px MUSR;
    font-weight: 300;
    color: #383c45;
    margin: 0 5px 0 0;
    vertical-align: middle;
    line-height: 23px;
  }

  &__opt {
    margin: 16px 0;
  }

  &__title {
    font: 14px MUSB;
    letter-spacing: .7px;
    color: #383c45;
    text-transform: uppercase;
  }

  &__amount {
    display: inline-block;
  }
}
