<script context="module">
  export async function preload({ params, path, query }) {
    const { room, cat, subcat, subsubcat } = params;
    return { room, cat, subcat, subsubcat, url: path, query };
  }
</script>

<script>
	import { afterUpdate } from 'svelte';
  import * as api from 'api.js';
  import {
    activeCategoryData,
    activeRoomData,
    queryData,
    sorterData,
    filterOptsData,
    filterRangesData,
    roomMenuData,
    singleCatData,
    productData,
    productsData,
    pathData
  } from '../../../../../stores/store.js';
  import dataHelpers from '../../../../../helpers/dataHelpers';
  import requestHelpers from '../../../../../helpers/requestHelpers';
  import Catalog from '../../../../../components/Catalog/index.svelte';

  export let room;
  export let cat;
  export let subcat;
  export let subsubcat;
  export let query;
  export let url;

  afterUpdate(async () => {
    singleCatData.set(null); // очистить синглкат мы точно не в подкаталоге
    productData.set(null); // очистить продукт мы точно не в продукте
    pathData.set({ cat, subcat, subsubcat});
    const sameRoom = $activeRoomData && $activeRoomData.key === room;
    if (sameRoom) {
      const sameCat = $activeCategoryData && $activeCategoryData.permalink === `rooms/${room}/${cat}/${subcat}/${subsubcat}`;
      if (sameCat) {
        const samePage = query.page === $queryData.page || $queryData.page === query.page;
        if (!samePage) {
          const paramsString = dataHelpers.formRequest({
            activeCategory: $activeCategoryData,
            activeRoom:  $activeRoomData,
            query,
            sorter: $sorterData,
            filterOpts: filterOptsData,
            filterRanges: $filterRangesData,
          });
          productsData.set(null);
          queryData.set(query);
          const products = await api.getProducts(paramsString);
          productsData.set(products);
        } // else ничего не поменялось, ничего не делать
      } else { // !sameCat
        requestHelpers.updateCatalog(
          { cat, subcat, subsubcat },
          query,
          $activeCategoryData,
          $queryData,
          $roomMenuData,
          $sorterData,
          $filterOptsData,
          $filterRangesData,
          $activeRoomData
        );
      }
    } // else  !sameRoom такого не происходит
  });
</script>

<svelte:head>
	<title>{subsubcat}</title>
</svelte:head>
<Catalog />
