<script>
  import { afterUpdate } from 'svelte';
  import dataHelpers from '../../../../helpers/dataHelpers';
  import formatters from '../../../../helpers/formatters';
  import Spinner from '../../../../components/Spinner/index.svelte';
  import { childrenCatsData, activeRoomData, activeCategoryData, singleCatData } from '../../../../stores/store';

  const getPref = dataHelpers.getPref;
  let pref = getPref($activeRoomData, $singleCatData);
  afterUpdate(async () => {
    pref = getPref($activeRoomData, $singleCatData);
  });

  const onImageError = e => {
    e.target.src=''
  }
</script>

<style src="./style/index.scss">
</style>

<Spinner ready={!!$childrenCatsData}>
  <div class="subcards">
    {#each $childrenCatsData as cat}
      <a href={`${pref}${cat.permalink}`}>
        <div class="subcard">
          <img alt={''} src={dataHelpers.getImgURL(cat.pretty_name)} on:error={onImageError}/>
          <div class="subcard__title">{cat.name}</div>
          <div class="subcard__count">{formatters.productNumFormat(cat.products_count)}</div>
        </div>
      </a>
    {/each}
  </div>
</Spinner>
