<script context="module">
  export async function preload({ params, path, query }) {
    const { cat, subcat } = params;
    return { cat, subcat, url: path, query };
  }
</script>

<script>
	import { afterUpdate } from 'svelte';
  import {
    activeCategoryData,
    activeRoomData,
    materialsData,
    queryData,
    sorterData,
    filterOptsData,
    filterRangesData,
    roomMenuData,
    singleCatData
  } from '../../../stores/store.js';
  import requestHelpers from '../../../helpers/requestHelpers';
  import Catalog from '../../../components/Catalog/index.svelte';

  export let cat;
  export let subcat;
  export let url;
  export let query;

  afterUpdate(async () => {
    activeRoomData.set(null);
    roomMenuData.set(null);
    singleCatData.set('3014');

    requestHelpers.updateCatalog(
      { cat, subcat },
      query,
      $activeCategoryData,
      $queryData,
      $materialsData,
      $sorterData,
      $filterOptsData,
      $filterRangesData,
    );
  });

</script>

<svelte:head>
	<title>{subcat}</title>
</svelte:head>
<Catalog />
