<script>
  import { filterOptsData } from '../../../../../stores/store';
  import dataHelpers from '../../../../../helpers/dataHelpers';
  import * as api from 'api.js';
  import Checkbox from '../../../../Checkbox/index.svelte';
  export let filter;
  export let setFilter;

  const checked = (filter, prop) => {
    let res = $filterOptsData[filter.search_key];
    res = res ? (res[prop.value]) : false;
    return res;
  }

</script>

<style src="./style/index.scss">
</style>

<div class="checklist">
  <div class="checklist__title">{filter.name}</div>
  <div class="checklist__opts">
    {#each filter.collection as prop}
      <div
        class="checklist__opt"
        on:click={() => setFilter(filter, prop)}>
        <Checkbox checked={checked(filter, prop, $filterOptsData)}/>
        <div class="checklist__label">{prop.value} <div class="checklist__amount">{prop.amount}</div></div>
      </div>
    {/each}
  </div>
</div>
