<script>
  import { afterUpdate } from 'svelte';
  import dataHelpers from '../../helpers/dataHelpers';
  import { pathData, activeRoomData, dictData, singleCatData } from '../../stores/store';
  // console.log(2222);
  // console.log($pathData);
  
  afterUpdate(() => {
    // console.log(2222);
    // console.log($pathData);
  })
</script>

<style src="./style/index.scss">
</style>

<div class="breadcrumbs">
  {#each dataHelpers.formCrumbs($pathData, $activeRoomData, $dictData, $singleCatData) as crumb}
    <div class="crumb">
      {#if crumb.permalink}
        <a href={crumb.permalink}>{crumb.name}</a>
      {:else}
        {crumb.name}
      {/if}
    </div>
  {/each}
</div>
