@import 'styles/vars.scss';

.catmenu {
  display: inline-block;
  vertical-align: top;
  outline: none;

  a {
    text-decoration: none;
    color: #383c45;
  }

  &__drop {
    padding-top: 10px;
    height: 378px;
    width: 277px;
    border: solid 1px #f1f1f1;
    background-color: #7ede44;
    box-sizing: border-box;
  }

  .category {
    a {
      font: 16px MUSR;
      padding: 8px 20px;
      display: block;
    }

    .subcats {
      position: absolute;
      padding-top: 10px;
      top: -1px;
      left: 100%;
      border: solid 1px #f1f1f1;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 378px;
      width: 277px;
      display: none;

      a {
        font-size: 14px!important;
      }

      .subcat:hover .subsubcats {
        display: block;
      }

      .subsubcats {
        padding-top: 10px;
        position: absolute;
        top: -1px;
        left: 100%;
        height: 378px;
        width: 277px;
        border: solid 1px #f1f1f1;
        background-color: #ffffff;
        box-sizing: border-box;
        display: none;

        &>div:hover {
          background-color: #f1f1f1;
        }
      }

      &>div:hover {
        background-color: #f1f1f1;

        .subsubcats {
          display: block;
          background-color: pink;
          border: solid 1px #f1f1f1;
          background-color: #ffffff;
        }
      }
    }

    &:hover {
      background-color: #f1f1f1;

      .subcats {
        display: block;
      }
    }
  }

  &__thumb {
    position: relative;
    background-color: #ffffff;
    padding: 17px 12px;
    font: 16px MUSM;
    color: #383c45;

    &.active {
      background-color: #fcfcfc;
    }

    &__icon {
      background-image: url('/icons/burger.svg');
      height: 10px;
      width: 16px;
      display: inline-block;
      margin-right: 6px;
    }
  }

  &__drop {
    position: absolute;
    background-color: #fcfcfc;

    &.hidden {
      display: none;
    }
  }
}
