<script>
  export let thumbs;
  export let images;
</script>

<style src="./style/index.scss">

</style>

<div class="slider">
  {#if thumbs}
    {#each thumbs as thumb}
      <div>
        <img src={thumb} alt="" />
      </div>
    {/each}
  {/if}
  {#if images}
    {#each images as image}
      <div>
        <img src={image} alt="" />
      </div>
    {/each}
  {:else}No Images{/if}
</div>
